html {
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.15;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191C2B;
    align-items: center;
    justify-content: center;
    
}


.gap-1{
    gap: .25rem; 
}
.gap-2{
    gap: .5rem; 
}
.gap-3{
    gap: .1rem; 
}
.gap-4{
    gap: .15rem; 
}
.gap-5{
    gap: .3rem; 
}

.after-bg-white::after{
    background-color: #fff;
}