html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
}

body{
    margin: 0;
    color: #fff;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191C2B;
    align-items: center;
    justify-content: center;
}