.card{
    width: 21rem;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    min-height: 28.4rem;
}

.card .card-header{
    border-radius: .6rem;
}
.card-title{
   font-weight: 500; 
   font-size: 1.8rem;
   margin-bottom: 0.3rem;
}
.card-body{
    padding: 0;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}
.card-header{
    min-height: 15rem;
    background-color: #34C0F9;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

}
.card-header-title,
.card-header-bottom{
    font-weight: 300;
    font-size: 1.7rem;
    color: #fff;
}
.card-header-bottom{
    margin-top: auto;
    text-align: right;
}

.card-detailed{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-detailed::after{
    content: "";
    width: 1.000em;
    height: 1.143em;
    background-image: url(img/double-angle.svg);
    margin-left: .429em;
}