.card{
    width: 21rem;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    min-height: 28rem;
}

.card .card-header{
    border-radius: .6rem;
}
.card-title{
   font-weight: 500; 
   font-size: 1.8rem;
   margin-bottom: 0.3rem;
}
.card-body{
    padding: 0;
    padding-top: 0.9rem;
    padding-bottom: 1.1rem;
    
}
.card-header{
    min-height: 15rem;
    background-color: #34C0F9;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

}
.card-header-title,
.card-header-bottom{
    font-weight: 300;
    font-size: 1.7rem;
    color: #fff;
}
.card-header-bottom{
    margin-top: auto;
    text-align: right;
}

.card-detailed{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-detailed::after{
    content: "";
    width: 1.000em;
    height: 1.143em;
    background-image: url(img/double-angle.svg);
    margin-left: .429em;
}

.card-add{
    font-size: 1.8rem;
    background: linear-gradient(93.96deg, #246CE2 23.81%, #5F9BFC 100%);
    border-radius: 50%;
    width: 3.45em;
    height: 3.45em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .667em;
    
    /*&::before{
        content: "";
        border-radius: 50%;
        background-color: #fff;
        width: 1.45em;
        height: 1.45em;
    }*/

    &::after{
        content: "";
        background-image: url(img/plus.svg);
        width: 1.4em;
        height: 1.4em;
        display: block;
        border-radius: 50%;
        padding: 1.67em;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
    }

}
.card-add-text{
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}
.card-add-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
}