:root {
    --btn-primary: linear-gradient(93.96deg, #246CE2 23.81%, #5F9BFC 100%);
    --btn-primary-active: linear-gradient(93.96deg, #0754D2 23.81%, #2779FF 100%);
    --btn-primary-disabled: #EAEAEA;
    --btn-primary-hover: linear-gradient(93.96deg, #3976DA 23.81%, #4489FB 100%);

    --color-blue: #4DBCE9;
    --color-grey: #DDDDDD;
    --color-black: #000;
    --color-green: #16B428;
}