
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
    /*color: #fff;*/
  }
  
.icon-phones:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e909";
}
  
  .icon-i:before {
    content: "\e908";
  }
  .icon-editing:before {
    content: "\e900";
  }
  .icon-exclamation-point:before {
    content: "\e901";
  }
  .icon-item:before {
    content: "\e902";
  }
  .icon-cards:before {
    content: "\e903";
  }
  .icon-connections:before {
    content: "\e904";
  }
  .icon-phone-email:before {
    content: "\e905";
  }
  .icon-peoples:before {
    content: "\e906";
  }
  .icon-people:before {
    content: "\e907";
  }

  // социальные иконки
  [class^="social-"], [class*=" social-"] {
    width: 2.857em;
    height: 2.857em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  [class^="social-"]::before, 
  [class*=" social-"]::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .social-telegram{
    background-color: #27A6E5;
    &::before{
      transform: translate(-0.15em, 0.1em);
    }
  }
  [class^="social-telegram"]::before, 
  [class*=" social-telegram"]::before{
    background-image: url(img/icon/telegram.svg);
    width: 1.357em;
    height: 1.214em;
  }
  .social-whatsapp{
    background-color: #48C95F;
  }
  .social-whatsapp::before{
    background-image: url(img/icon/whatsapp.svg);
    width: 1.500em;
    height: 1.500em;
    transform: translate(0.05em, 0);
  }

  .social-viber{
    background-color: #7C509A;
  }
  .social-viber::before{
    background-image: url(img/icon/viber.svg);
    width: 1.500em;
    height: 1.643em;
    transform: translate(0.055em, 0.15em);
  }
  .social-vk-black{
    background-color: #000000;
  }
  .social-vk-black::before{
    background-image: url(img/icon/vk.svg);
    width: 1.571em;
    height: 1.000em;
  }
  .social-telegram-black{
    background-color: #000000;
  }


