.info-wrapper{

    h1{
        margin-bottom: 1.6rem;
        padding-left: 2rem;
    }
    h2{
        margin-bottom: 2rem;
        padding-left: 2.4rem;
    }
}
.accordion-info{
    .accordion-header  a{
        text-decoration: none;
    }
    .accordion-item{
        background: #fff;
        margin-bottom: 2rem;
    }
}
