.portfolio-tab{
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.7rem;
    
    .nav-link.active, 
    .show>.nav-link{
        background: linear-gradient(93.96deg, #246CE2 23.81%, #5F9BFC 100%);

    }
    .nav-link{
        font-weight: 400;
        min-width: 10.4rem;
        background: #EAEAEA;
        margin-right: .8rem;
        color: #fff;
    }
}
.our-team-work{
    background: #FFFFFF;
    border-radius: 1.2rem;
    padding: 1.3rem .6rem;
    max-width: 45.2rem;
    margin-top: 1.2rem;

}
.our-team-head{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: .3rem;
}
