.portfolio-tab{
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.7rem;
    
    .nav-link.active, 
    .show>.nav-link{
        background: linear-gradient(93.96deg, #246CE2 23.81%, #5F9BFC 100%);

    }
    .nav-link{
        font-weight: 400;
        min-width: 10.4rem;
        background: #EAEAEA;
        margin-right: .8rem;
        color: #fff;
    }
    
    
}
