.team-wrapper{
    h2{
        margin-bottom: 1.6rem;
    }
    .gap-custom{
        row-gap: 2rem;
        column-gap: 6.5rem;
    }


}

.shares{
    width: 9.2rem;
    height: 9.2rem;
    transform: rotate(-90deg);
    margin-right: 1.5rem;
}
.shares-description{
    background: #FFFFFF;
    border-radius: 12px;
    max-width: 41rem;
    padding: 2rem 1.3rem 1.3rem;
    font-weight: 400;
    column-count: 2;

    div{
        margin-bottom: .5rem;
        display: flex;
        align-items: center;
        &::before{
            content: "";
            margin-right: .3rem;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            display: block;
        }
        &:last-child{
            margin-top: 3rem;
        }
    }

    .design{
        &::before{
            background-color: #FF7676;
        }
    }
    .backend{
        &::before{
            background-color: #76FFF7;  
        }
    }
    .frontend{
        &::before{
            background-color: #FFFA76;
        }
    }
    .copywriting{
        &::before{
            background-color: #79FF76;
        }
    }
}

.shares-content{
    max-width: 42.9rem;
    background: #FFFFFF;
    border-radius: 1.2rem;
    padding:  1.5rem 2.4rem;
    display: flex;
    font-weight: 500;
    font-size: 2.2rem;
}
.shares-wrapper{
    display: flex;
    margin-top: 2.3rem;
    align-items: flex-start;
    & > *{
        width: 100%;
    }
}
.shares-text{
    margin-top: 1rem;
}

