body{
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191C2B;
    align-items: center;
    justify-content: center;
}
.wrapper-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    margin-bottom: auto;
}
.button{
    font-weight: bold;
    background-color: #29CF2D;
    color: #fff;
    padding: 8px 32px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 30px;
    border: 0 solid #000;
}

.img{
    max-width: max-content;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
}

.navbar{
    background-color: #191C2B;
}
header{
    margin-bottom: auto;
    width: 100%;
}

.svg{
    width: 50px;
    height: 50px;
}

.modal-content{
    background-color: #1F253D;
}
.modal-footer{
    border-top:  #1F253D;
}
.modal-header{
    border-bottom: #1F253D;
}

.modal-header .btn-close{
    color: #fff;
    background-color: #5c636a;
}
.modal-dialog{
    min-height: 90vh;
    display: flex;
    align-items: center;
}
.textarea{
    width: 100%;
    height: 200px;
}
.user-name{
    background-color: #282B3E;
    width: 100%;
    height: 70px;
    border: none;
}
.quiz__form-file{
    display: none;
}
.quiz-contact  {
    //width: 60%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.quiz-contact  p{
    flex: 1;
}

.quiz-contact .button{
    margin-top: 0;
}
.modal-body{
    padding-top: 0;
}