body{
    margin: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #191C2B;
    align-items: center;
    justify-content: center;
}
